<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" verbose="true">
    <!-- Define test suites -->
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <!-- PHP configuration -->
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" />
    </php>

    <!-- Code coverage -->
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>

    <!-- Logging -->
    <logging>
        <log type="junit" target="build/logs/junit.xml"/>
        <log type="coverage-html" target="build/coverage"/>
    </logging>
</phpunit>
