<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <!-- Define the test suite -->
    <testsuites>
        <testsuite name="Design Patterns Test Suite">
            <!-- Point to your tests directory -->
            <directory>./tests/DesignPatterns</directory>
        </testsuite>
    </testsuites>

    <!-- Logging configuration for HTML coverage report -->
    <logging>
        <log type="coverage-html" target="build/coverage-report" />
    </logging>

</phpunit>
